/.project
/.settings
/java-model/.classpath
/java-model/.project
/java-model/.settings/org.eclipse.core.resources.prefs
/java-model/.settings/org.eclipse.jdt.core.prefs
/java-model/.settings/org.eclipse.m2e.core.prefs
